body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #c8553d;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 60px;
  background-color: #588b8b;
  padding-left: 20px;
  /* color: #ffd5c2; */
}

h2 {
  font-family: 'Permanent Marker', cursive;
  padding-left: 20px;
  text-align: center;
}

p {
  text-align: justify;
}

p, a { 
  font-size: 16px;
  /* padding-left: 20px; */
}

button {
  padding: 15px;
}

button a {
  font-family: 'Permanent Marker', cursive;
}

img {
  width: 500px;
  border: 10px solid #f28f3b;;
  border-radius: 50%;
  margin-left: 20px;
}

.orange-background {
  background-color:#f28f3b;
}

nav {
  margin-top: 15px;
  margin-bottom: 10px;
}

.center-text{
  text-align: center;
}

.text-box {
  width: 500px;
  float: right;
}

.resume-box {
  width: 75%;
}
